html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.main {
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    position: sticky;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.slidingWordsParent {
    display: flex;
    flex-direction: row;
}

.slidingWordContainer {
    height: 6em;
    overflow: hidden;
}



@keyframes slideInFromAbove {
    from { bottom: 1em; opacity: 0 }
    to { bottom: 0em; opacity: 1; }
}

@keyframes slideInFromBelow {
    from { bottom: -1em; opacity: 0 }
    to { bottom: 0em; opacity: 1; }
}

.actualWord {
    margin: 0;
    padding: 0;
    font-size: 5em;
    position: relative;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    opacity: calc(var(--slidingWordOpacity));
}

.slidingWordContainer:nth-child(2n) > .actualWord {
    bottom: calc(var(--evenBottom));
    animation-name: slideInFromAbove;
}

.slidingWordContainer:nth-child(2n + 1) > .actualWord {
    bottom: calc(var(--oddBottom));
    animation-name: slideInFromBelow;
}

.workSection {
    width: 100%;
    min-height: 100vh;
    display: flex;
}

.workStrip {
    color: #fff;
    height: 100vh;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    background-color: #000;
}

.projectsSection {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row-reverse;
}

.projectsStrip {
    height: 100vh;
    color: #fff;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    background-color: #000;
}

.lifeSection {
    width: 100%;
    min-height: 100vh;
    display: flex;
}

.lifeStrip {
    height: 100vh;
    color: #fff;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    background-color: #000;
}

.topLeftSticky {
    top: 0;
    left: 0;
    position: sticky;
}

.topRightSticky {
    top: 0;
    right: 0;
    position: sticky;
}